I want to draft a new social media post.

## Brief description of the post
{{ env('WHAT_ARE_YOU_WRITING_ABOUT') }}

## Target audience
{{ env('WHO_IS_THIS_POST_FOR') }}

## Key message
{{ env('WHAT_IS_THE_KEY_MESSAGE') }}

## Call to action
{{ env('WHAT_IS_THE_CALL_TO_ACTION') }}

## Additional notes
{{ env('ANY_ADDITIONAL_NOTES') }}

## Desired structure of the draft
The structure of the post should be as follows:
```markdown
# <title>
<brief description of the post>

## Outline
<bullet points of the key points in the post>

## Links / Resources
<list of links or resources to mention in the post, if any>
```

---

Do the following:
1. Come up with a catchy title for the new post
2. List the `posts` directory to see the existing post slugs and numbers
3. Draft the new post in the following file: `posts/<post-number>-<post-slug>/source.md`