{% set post_file = select(prompt='Select post to edit', choices=sh('ls posts').split()) %}

I want to edit the post in `posts/{{ post_file }}` in the following way:

{{ env('EDIT_INSTRUCTIONS') }}

Do the following:
1. Edit the post in `posts/{{ post_file }}`
2. Respond with a concise list of changes you made to the post
