I have written a post in the following directory: {{ env('POST_SLUG') }}.

I need you to generate a social media post for the following platforms: {{ select(['x', 'linkedin', 'facebook', 'devto', 'reddit', 'tumblr', 'discord']) }}.
