{% set post_slug = select(prompt='Select draft', choices=sh('ls drafts').split()) %}

I have written a DEV.to blog post draft in  `drafts/{{ post_slug }}`.

Do the following:
1. Use your skill to write a DEV.to post based on the draft
2. Update `posts/README.md` with the new post
2. Respond with "Created post in `<path>` for `<platform>`."